* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(40deg, #0006ff, #01e6de, #0006ff, #a801ff, #0006ff);
    animation: animateBackground 7.5s linear infinite;
    background-size: 500% 100%;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #27aaf1;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 30px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #1c7baf;
    text-decoration: line-through;
}